body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
}

.main div {
  margin: 0px 10px 0px 10px;
}

.background {
  background-image: url('./background.jpg');
}

.spring {
  background-image: url('./spring.jpg');
}

.summer {
  background-image: url('./summer.jpg');
}

.autumn {
  background-image: url('./autumn.jpg');
}

.winter {
  background-image: url('./winter.jpg');
}